doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Minside
    script(src="/public/javascripts/minside.js", type="text/javascript")
    link(rel="stylesheet", href="/public/stylesheets/minside.css")
    script(src="javascripts/minside.js", type="text/javascript")
    link(rel="stylesheet", href="stylesheets/minside.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
  body
    header.container
      div.header
        div.header-content
          a(href="/")
            img.logo(src="https://raw.githubusercontent.com/aikkel/BB1/main/public/images/logoub.png", alt="Logo")
          div.header-text Basensbiler
        
        div.header-sogning
          input(type="text", placeholder="Indtast pris, model, brand.....")
          button.sogningknap
            i.fas.fa-search

        div.content-header
          a(href="/minside", class="header-box") Min side
          a(href="/")
            button(onclick="logToConsole()" class="header-box3") Log ud
          a(href="/update", class="header-box2") Opdater

    div.content
      div.boks Forslag
      div.boks2 Egne Annoncer
        iframe(src="/mineAnnoncer", width="100%", height="100%", frameborder="0")
      
    footer.footer
      hr(size="2", width="90%", color="black")
      div
        h1
          u Basensbiler
        p.ptext
          b Schibsted Denmark ApS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        p.ptext Wildersgade 8
        p.ptext 1408 København K
        p.ptext Danmark
      div
        h1
          u Service
        p.ptext
          b E-mail: keglemand@basensbiler.dk &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        p.ptext Tel.: +45 5672 0707
        p.ptext Mob.: +45 2096 6949
        p.ptext CVR.no.: 20618175
      div
        h1
          u Ejerforhold
        p.ptext
          b Direktør: Kevin Dyhr Mortensen  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        p.ptext Vicedirektør: Jakob Foersom
        p.ptext Økonomichef: Sercan Oruc
        p.ptext Marketingschef: Lucas Wolthers Havenkvist
        p.ptext Teknologichef: Emil Rud Peitersen