
doctype html
html
  head
    title New User Registration
  body
    h1 New User Registration
    form(action="/register", method="POST")
    
      label(for="password") Password:
      input(type="password", id="password", name="password")
      br
      label(for="email") Email:
      input(type="email", id="email", name="email")
      br
      input(type="submit", value="Register")
