  .small-fields, .big-field {
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .small-fields {
    margin-right: 20px;
  }

  .big-field{
    margin-left: 20px;
  }
  
  .big-field textarea {
    height: 30em;
    overflow-y: auto; 
    resize: none;
  }
  .small-fields input {
    max-width: 300px;
  }
  .small-fields button {
    max-width: 300px;
  }

  * {
    box-sizing: border-box;
  }
  .column {
    display: flex;
    flex-direction: column;
  }

  .button-style {
    background-color: #545faf;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-style:hover {
    background-color: #8890c7; 
    color: black;
}

body,
html {
  margin: 0px;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

.footer{
  padding-top: 20px;
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-bottom: 20px;
  background-color: #545faf;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #545faf;
  padding: 20px;
  border-bottom: 1px solid #ccc; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #54afa5;
}

.header-text {
  color: black;
  font-size: 2.5em;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

.overskrift {
  margin-top: 10px;
  display: inline;
  color: #54afa5;
}

.test {
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.boks, 
.boks2 {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.header-sogning {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-sogning input {
  width: 200px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 15px;
}

.sogningknap {
  background-color: #54afa5;
  color: #545faf;
  font-size: 2.0em;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  padding-top: 3px;
  padding: 5px;
  border-radius: 8px;
}

.header-text2 {
  color: #54afa5;
  font-size: 2.5em;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

.header-box,
.header-box2 {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #54afa5;
  font-size: 2.5em;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  justify-content: space-between;
}

.content-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  float: right;
}

.header-sogning input, .header-sogning button {
  display: inline-block;
  vertical-align: middle;
}

.header-box3 {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #54afa5;
  font-size: 2.3em;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  justify-content: space-between;
  background-color: #545faf;
  text-decoration: underline;
  cursor:pointer;
}

h2 {
  text-decoration: underline;
  font-size: 2em;
}

.lux {
  width: 340;
  align-items: center;
  display: grid;
  padding-left: 20px;
}

.pantheon {
  width: 340;
  align-items: center;
  display: grid;
  padding-bottom: 5px;
}

.aatrox {
  width: 340;
  height: 250px;
  align-items: center;
  right: 100%;
  display: grid;
  padding-bottom: 40px;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.seraphine {
  width: 340;
  height: 250px;
  align-items: center;
  right: 100%;
  display: grid;
  padding-bottom: 40px;
  font-size: 1.5em;
  padding-right: 20px;
}


.draven {
  background-color: #54afa5;
  border-radius: 20px;
  width: 210px;
  height: 60px;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  display: inline-block;
}

.yuumi {
  background-color: #54afa5;
  border-radius: 20px;
  width: 170px;
  height: 60px;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  display: inline-block;
}