  .small-fields, .big-field {
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .small-fields {
    margin-right: 20px;
  }

  .big-field{
    margin-left: 20px;
  }
  
  .big-field textarea {
    height: 30em;
    overflow-y: auto; 
    resize: none;
  }
  .small-fields input {
    max-width: 300px; /* Set a maximum width for the input fields */
  }
  .small-fields button {
    max-width: 300px; /* Set a maximum width for the button */
  }

  * {
    box-sizing: border-box;
  }
  .column {
    display: flex;
    flex-direction: column;
  }

  .button-style {
    background-color: #545faf; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-style:hover {
    background-color: #8890c7; 
    color: black;
}